<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alexis Murari</title>
    <link rel="stylesheet" href="static/styles/home.css">
    <link rel="stylesheet" href="static/styles/open.css">
    <link rel="icon" href="static/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="fixed">
        <div class="topnav">
            <a href="/">Home</a>
            <div class="dropdown">
            <form action="/">
                <input type="submit" value="Projects" class="dropbtn">
            </form>
            <div class="dropdown-content">
              <a href="#mushroom">Mushroom Classification</a>
            </div>
            </div>
            <div class="dropdown">
            <form action="/opensource">
                <input type="submit" value="Open-Source" class="dropbtn">
            </form>
            <div class="dropdown-content">
            <a href="#">Alexis</a>
            </div>
            </div>
            <a href="static/Alexis MURARI.pdf" target="blank">Resume</a>
            <a href="https://www.linkedin.com/in/alexismurari/" target="blank">LinkedIn</a>
            <a href="https://github.com/alexismurari" target="blank">GitHub</a>
            <a style="float: right; font-weight: bold;" href="/contact">Contact</a>
        </div>
      </div>

    
    <div class="wrap">
        
        <div class="content">
            <h1 style="text-align: center;"> Contact Me </h1>

            <div class="project" id="mushroom">
            <h3>You can leave a message here</h3>
                <form method="post">
                    <div style="text-align: center;">
                        {{form.message(placeholder="Type here")}}
                    </div>     
                </form>
            </div>
            </div>

        </div>
    </div>
 
</body>
</html>
