<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alexis Murari</title>
    <link rel="stylesheet" href="static/styles/home.css">
</head>
<body>
    <ul>
        <li><a href="static/Alexis MURARI.pdf" target="blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/alexismurari/" target="blank">LinkedIn</a></li>
        <li><a href="https://github.com/" target="blank">GitHub</a></li>
    </ul>
      

    <div class="top">
        <div class="main_title">Alexis Murari</div>
    </div>

    <div class="content">
        <h2> Projects </h2>
        <div>
            <h3>Mushroom genus identification and classification (C)</h3>
            <iframe width="720" height="405" src="https://www.youtube.com/embed/NEfr-MpBYrA"> </iframe>
            <p>Worked in a team of 4 for a Machine Learning project which detects and classify mushrooms <br> Data Cleaning &Augmentation, Transfer Learning, ANNs, CNNs and performance measurements</p>
        </div>

        <h3>File Transfer and Text Conferencing</h3>
        <p>Computer Networks project where I developed the server and client program for file transfer
            and text conferencing <br>
            Developed a great understanding of computer networks concepts and TCP/IP and UDP
            protocols</p>

        <h3>Geographic Information System (C++)</h3>
        <p> <img src="static/images/gis.png" alt=""> <br> Collaborated in a team of 3where we designed aninteractive map and implemented shortest path algorithms</p>

        <h3>3D stack game on ARM processor</h3>

        <h3>Memory game on a FPGA board (Verilog) </h3>
        <p> <img src="static/images/memory.png" alt="" id = "memory"> <br> For this project, we designed and implemented a memory game on the FPGA board. We wanted to create a game that would be simple to understand and competitive between different players who would play the game. The concept of the game was to have players determine and remember a sequence of symbols that would increase in length as the game went on. A timer would be implemented to keep a record of the player’s score, which they could use to challenge others with or improve themselves with more practice.</p>
        
        <h3>Soundboard application on Android </h3>  
        <p>Designed and created a Soundboard app using Android Studio(Java/Kotlin)</p>  

        <h2>Hackathons</h2>
        <h3>MakeUofT 2021 - wavecord</h3>
        <iframe width="720" height="405" src="https://www.youtube.com/embed/sE-BPAVF2K4"> </iframe>
        <p>The wavechord detects your hand position above the Kinect and maps your position to a corresponding chord on the piano. Currently, the synthesizer generates I, IV, and V major chords for simplicity.</p>

        <h3>UTRAHACKS</h3>
        <p>Designed &printed 3D model for our Ring Remote Control project</p>

        <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
        </script>
    </div>

    </div>

    <ul>

    </ul>
 
</body>
</html>
